fastapi==0.109.2
uvicorn==0.27.1
streamlit
spacy==3.7.2
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
sentence-transformers==2.2.2
pypdf2==3.0.1
python-multipart==0.0.9
langchain-openai==0.0.5
pandas==2.2.0
fpdf==1.7.2
openai==1.12.0
python-dotenv==1.0.1
langchain==0.1.4
langchain-community==0.0.16
requests==2.31.0
numpy==1.26.3
backoff==2.2.1
azure-storage-blob==12.19.0
faiss-cpu==1.7.4
gunicorn==21.2.0